.pagination {
  margin: 0 1rem 1rem;
}
.pageNumber {
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 8px;
  border-radius: 50px;
}
.boxShadow {
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
  background: #fff;
}
.pageNumber li {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #3499ff;
  line-height: 45px;
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s ease;
  fill: #3499ff;
}
.pageNumber li.numb {
  list-style: none;
  height: 30px;
  min-width: 30px;
  margin: 0 8px;
  padding: 0 5px;
  line-height: 45px;
  border-radius: 10px;
}
.pageNumber li.numb.first {
  margin: 0px 3px 0 -5px;
}
.pageNumber li.numb.last {
  margin: 0px -5px 0 3px;
}
.pageNumber li.dots {
  margin: 0 5px;
  font-size: 22px;
  cursor: pointer;
}
.pageNumber li.btn {
  padding: 5px;
  border-radius: 50px;
}
.pagination li.active,
.pageNumber li.numb:hover,
.pageNumber li:first-child:hover,
.pageNumber li:last-child:hover {
  color: #fff;
  background: #3499ff;
  fill: #fff;
}
.disable {
  opacity: 0.7;
  pointer-events: none;
}
