.navBar {
  background: rgb(255, 255, 255);
  direction: rtl;
  box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px -5px;
  border-bottom: 1px solid #ddd;
  transition: all 0.3s ease;
  height: 48px;
  overflow: hidden;
}
.hidden {
  height: 0;
}
.kBud {
  position: relative;
  display: flex;
  align-items: center;
}

.eopfu {
  align-items: center;
  padding: 10px 0;
  margin: 0 10px;
}
.eopfu li {
  font-size: 13px;
  cursor: pointer;
  transition: all 0.2s ease-in;
}
.eopfu li a {
  margin: 0 0.5rem;
  padding: 4px 2px;
}
.eopfu li:hover a {
  color: #3499ff;
}
.category {
  height: 100%;
}

.categoryBurger {
  cursor: default;
  padding: 13px .5rem;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}
.hover {
  border-bottom: 2px solid red;
}
.categoryBurger span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.categoryBurger svg {
  width: 19px;
  height: 19px;
}
.categoryBurger p {
  margin-right: 0.5rem;
  font-size: 13px;
}
.border {
  height: 30px;
  width: 1px;
  background: #eee;
  padding: 0;
  margin: 0 0.5rem;
}
