.productImg .swiper_slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 450px;
}
.productImg {
  overflow: hidden;
  border-radius: 10px;
}
.swiper_slide {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.productListImg .swiper_slide {
  opacity: 0.6;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
  overflow: hidden;
  height: 72px;
}
.productListImg {
  padding: 2rem 0 0;
}

@media (max-width: 1023.98px) {
  .productListImg {
    display: none;
  }
  .slider {
    width: 450px !important;
    margin: 0 auto;
  }
}
@media (max-width: 499.98px) {
  .slider {
    width: 100% !important;
  }
}
