.sidebar {
  display: flex;
  flex-direction: column;
}
.burger_menu {
  position: relative;
  margin-bottom: 1rem;
  display: none;
  align-items: center;
}
.burger {
  display: flex;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
  width: 40px;
  height: 20px;
  transition: all 0.3s ease;
}
.burger span {
  width: 30px;
  height: 3px;
  border-radius: 10px;
  background: #232933;
  transition: all 0.3s ease;
}
#burger_box:checked ~ .burger_menu .burger span {
  background: #3499ff;
}
#burger_box:checked ~ .burger_menu .burger span:nth-child(1) {
  transform: rotate(-25deg) translate(-10px, 0);
  width: 20px;
}
#burger_box:checked ~ .burger_menu .burger span:nth-child(2) {
  transform: rotate();
}
#burger_box:checked ~ .burger_menu .burger span:nth-child(3) {
  transform: rotate(25deg) translate(-10px, 0);
  width: 20px;
}
.sidebar_menu {
  display: none;
  position: fixed;
  overflow: hidden;
  background: #fff;
  z-index: 1001;
  top: 0;
  right: 0;
  min-width: 300px;
  width: 100%;
  background: #888;
  padding: 1rem;
  height: 100%;
}
.sidebar_menu .sidebar_links {
  width: 300px;
  height: 90%;
  z-index: 1002;
}
.sidebar_com,
.sidebar_links {
  display: flex;
  flex-direction: column;
  border: 1px solid #e0e0e2;
  border-radius: 10px;
  padding: 0;
  height: fit-content;
  background: #fff;
}
.cEdoly {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 15px 0;
  margin: 0 18px;
}
.loBycI {
  margin-right: 1rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.loBycI p {
  font-size: 16px;
  font-family: "IRANYekan", sans-serif;
  color: #232933;
  font-weight: 700;
  line-height: 24px;
}
.loBycI span {
  font-size: 14px;
  color: #a1a3a8;
  font-weight: 400;
}
.vGtcol {
  width: 48px;
  height: 48px;
}
.vGtcol img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.hBokr5H {
  display: flex;
  flex-direction: column;
}
.TvOin5 {
  padding: 0 18px;
  position: relative;
  transition: all 0.3s ease;
}
.pSec_active {
  display: flex;
  align-items: center;
}
.pSec_active::before {
  content: "";
  position: absolute;
  right: 0;
  height: 100%;
  border-radius: 10px;
  background: #3499ff;
  width: 4px;
  display: block;
}

.TvOin5 a {
  padding: 16px 0;
  border-top: 1px solid #f0f0f1;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  transition: all 0.4s ease;
}
.TvOin5:hover {
  background: rgba(238, 238, 238, 0.74);
}
.TvOin5 a:hover > * {
  color: #000;
}
.FEiXo svg {
  width: 22px;
  height: 22px;
}
.FEiXo {
  margin-left: 16px;
  color: #000;
  font-weight: 900;
}
.CrxOs {
  color: #000;
  font-size: 12px;
}
.list {
  position: relative;
}
.OcWz_yc1a {
  flex-direction: column;
}
.loVgtSw_5Q {
  padding: 8px 0;
}
.JbxnrS_6g6d {
  display: block;
  transition: all 0.3s ease;
}
.JbxnrS_6g6d:hover {
  background: #fafafa;
}
.JbxnrS_active {
  border-right: 3px solid #3499ff;
}
.JbxnrS_active p,
.JbxnrS_active svg {
  color: #3499ff !important;
}
.cxZw_p112 {
  display: flex;
  align-items: center;
  padding: 20px 0;
  margin: 0 15px;
  border-bottom: 1px solid #eee;
}
.OcWz_yc1a li:last-child .cxZw_p112 {
  border: none;
}
.cxZw_p112 > div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.JbxnrS_6g6d svg {
  margin-left: 10px;
}
.JbxnrS_6g6d p {
  color: rgb(92, 97, 107);
  flex-grow: 1;
  font-size: 12px;
}
/* ---- */

@media (max-width: 1023.98px) {
  .burger_menu {
    display: flex;
  }
  .sidebar_com {
    display: none;
  }
  .sidebar_menu {
    /* display: block; */
  }
}
