.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9990;
  background: #fff;
  direction: rtl;
  overflow: hidden;
  height: fit-content;
  padding: 1rem 0;
}
.navbar {
  padding: 0 10px;
}
.search {
  width: 100%;
  padding: 2px 12px 2px 4px;
  border-radius: 10px;
  box-shadow: 0 5px 10px -10px rgba(0, 0, 0, 0.7);
  background: #f0f0f1;
}
.content {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.searchIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.searchIcon svg {
  fill: #a1a3a8;
  width: 24px;
  height: 24px;
}
.placeholder {
  display: flex;
  align-items: center;
  color: #a1a3a8;
}
.mobileLogo {
  height: 46px;
  width: 100px;
}
