.breadcrumb {
  width: 100%;
  flex-wrap: 1;
}
.list {
  align-items: center;
}
.route {
  padding: 5px 0;
}
.link {
  display: flex;
  align-items: center;
  color: #888;
}
.link span {
  margin: 0 12px;
}
@media (max-width: 599.98px) {
  .link {
    font-size: 12px;
  }
}
