.address {
  direction: rtl;
  position: relative;
}
.header {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  background: #fff;
  border-bottom: 1px solid #ddd;
  margin-bottom: 1rem;
  padding: 1.2rem;
  z-index: 99999;
}
.header p {
  color: #0c0c0c;
  font-size: 1.05rem;
  font-weight: 600;
}
.form {
  overflow-y: auto;
  max-height: 27rem;
  max-width: 480px;
  padding: 2rem 0 2rem 1rem;
}
.content,
.resiver {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.content {
  border-bottom: 1px solid #ddd;
  padding-bottom: 2rem;
}
.resiver {
  padding: 1rem 0;
}
.oneField {
  width: 100%;
}
.oneField .field {
  width: 100%;
}
.field {
  display: flex;
  flex-direction: column;
  width: 49%;
}
.label {
  margin: 0 0.5rem 0.5rem;
  color: #3f4064;
}
.star {
  color: red;
  margin-right: -3px;
}
.twoField {
  display: flex;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
}
.twoField .field {
  width: 50%;
}
.twoSmallField {
  display: flex;
  justify-content: space-between;
  width: 49%;
  gap: 5px;
}
.twoSmallField .field {
  width: 48%;
}

.textarea {
  resize: none;
  min-width: 100%;
  min-height: 5rem;
}
.input,
.textarea,
.dropdown {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  outline: none;
  caret-color: #3499ff;
}
.error {
  border-color: red !important;
}
.error_text {
  color: rgba(255, 0, 0, 0.7);
  font-size: 12px;
  margin-top: 8px;
}
.input:focus,
.textarea:focus {
  outline: none;
  border-color: #3499ff !important;
}
.checking {
  display: flex;
  align-items: center;
  position: relative;
}
.checking input:checked ~ .box_for_check {
  background: #3499ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-color: #3499ff;
}
.checking input:checked ~ .box_for_check::before {
  content: "\F095\00FE0E";
  font-family: Icon;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.box_for_check {
  cursor: pointer;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #9d9d9d;
}
.checking p {
  user-select: none;
  margin-right: 10px;
  font-weight: 600;
}
.footer {
  position: fixed;
  bottom: 0;
  right: 0;
  border-top: 1px solid #ddd;
  padding: 1rem 4rem;
  background: #fff;
  width: 100%;
  z-index: 99999;
}
.btn {
  width: 100%;
  height: 3rem;
  border-radius: 10px;
  border: 1px solid #3499ff;
  background: #3499ff;
  color: #fff;
  font-size: 16px;
}
@media (max-width: 1023.98px) {
  .address {
    position: absolute;
    top: 5rem;
    right: 0;
    left: 0;
    width: 100%;
  }
  .form {
    padding: 0;
    max-width: none;
    max-height: none;
    width: 100%;
    padding: 0 2rem 10rem;
  }
  .footer {
    position: fixed;
    bottom: 4rem;
    right: 0;
    border-top: 1px solid #ddd;
    padding: 1rem 4rem;
    background: #fff;
    width: 100%;
    z-index: 99999;
  }
}
@media (max-width: 425.98px) {
  .header p {
    font-size: 13px;
  }
  .form {
    font-size: 12px;
    padding: 0 1rem 10rem;
  }
  .twoField {
    flex-wrap: wrap;
  }
  .twoField .field {
    width: 100%;
  }
  .twoSmallField {
    width: 100%;
  }
  .twoSmallField .field {
    width: 48%;
  }
  .footer {
    padding: 1rem 5rem;
  }
  .btn {
    font-size: 14px;
  }
}
