.Iwalh {
  background: #fdfdfd;
  padding: 1.5rem 0;
}

/* ================================================================ */
.Cxwply {
  width: 100%;
  border-bottom: 1px solid rgba(150, 150, 150, 0.5);
  padding-bottom: 1rem;
}
.Cxwply h1 {
  padding-right: 1rem;
  font-size: 24px;
  text-shadow: 0 0 5px rgba(110, 110, 110, 0.5);
  font-family: IRANYekan, sans-serif;
}
.esohby {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}
.cKyf {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex: 1 0 30%;
  padding: 0.5rem;
  position: relative;
}
.cKyf:nth-child(2) ::after,
.cKyf:nth-child(2) ::before {
  content: "";
  width: 1px;
  height: 50px;
  position: absolute;
  top: 1.5rem;
  background: rgba(196, 196, 196, 0.555);
}
.cKyf:nth-child(2) ::after {
  left: 0;
}
.cKyf:nth-child(2) ::before {
  right: 0;
}
.pxty svg {
  margin-bottom: .5rem;
  width: 36px;
  height: 36px;
  color: #34506dc5;
}
.cKyf span {
  font-size: 12px;
  color: #3d4146a4;
}

.zOiOz {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding-right: 1rem;
}
.Redxws {
  display: flex;
  align-items: center;
}
.Redxws p {
  font-size: 12px;
  color: #81858b;
}
.Fcesop::before {
  content: "\F04D\00FE0E";
  font-family: Icon;
  font-size: 22px;
  margin-left: 0.5rem;
}
.LttOp::before {
  content: "\F05E\00FE0E";
  font-family: Icon;
  font-size: 22px;
  margin-left: 0.5rem;
}

/* ====================================================================== */
.hFcte {
  background: #fdfdfd;
}
.c9C4xp {
  background: #fdfdfd;
}
.p-Eoxf {
  align-items: center;
}
.ycrQl {
  position: relative;
  padding: 0.5rem 0.5rem 0;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.ycrQl a {
  font-family: "IRANYekan";
  font-size: 13px;
  padding-bottom: 0.3rem;
}

.obActive::before {
  content: "";
  width: 100%;
  height: 4px;
  background: #3499ff;
  border-radius: 15px 15px 0 0;
}
.obActive a {
  color: #3499ff;
}
/* ====================================================== */

.jc4Rg {
  background: #f7f7f8;
  position: sticky;
  top: 1rem;
  box-shadow: 0 5px 10px 0px #5e5e5e31;
  border: 1px solid #dbdbdb;
  border-radius: 15px;
  padding: 1rem;
  font-size: 12px;
  display: flex;
  flex-direction: column;
}
.r4Alju {
  align-items: center;
  padding-bottom: 0.5rem;
}
.diSwk6 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.diSwk6 {
  flex-shrink: 0;
  width: 80px;
  height: 80px;
}
.UyrpV7 p {
  line-height: 1.75rem;
  color: #3f3f3f;
}

.uv4FOo {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  font-size: 10px;
}
.ivrxo5 {
  margin-left: 0.5rem;
}
.ivrxo5 svg {
  width: 20px;
  color: #3f3f3f;
}
.Ec3obT {
  direction: ltr;
  display: flex;
  flex-direction: column;
}
.Roff {
  font-size: 12px;
  background: #3499ff;
  color: #fff;
  padding: 0 0.2rem;
  border-radius: 5px;
}
.Crprice {
  font-size: 12px;
  margin-left: 0.5rem;
  color: #81858b;
}
.P_priceR {
  display: flex;
  align-items: center;
  font-size: 16px;
  color: #000;
  font-weight: 600;
}
.P_priceR::before {
  font-weight: 100;
  margin-right: 0.5rem;
  content: "\F142\00FE0E";
  font-family: "Icon";
  font-size: 20px;
}
.aDd-tO-CaRt {
  width: 100%;
  border: none;
  font-size: 14px;
  background: #3499ff;
  border: 2px solid #3499ff;
  color: #fff;
  border-radius: 10px;
  padding: 0.5rem 0;
  transition: all 0.3s ease;
}
.Tpn9Rq {
  display: flex;
  align-items: center;
}
.aDd-tO-CaRt:hover {
  background: transparent;
  color: #3499ff;
}
.Xdptve13 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;
  font-size: 14px;
  border-radius: 8px;
  width: 102px;
  max-width: 102px;
  min-height: 44px;
  max-height: 44px;
  box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
}
.Xdptve13 button {
  border: none;
  background: none;
}
.Xdptve13 svg {
  width: 24px;
  height: 24px;
  color: #3499ff;
}
.NamBer_P {
  font-size: 16px;
  color: #3499ff;
}
.VdxwPuu a {
  color: #3499ff;
}
