.filters {
  width: 300px;
  border: 1px solid rgba(87, 87, 87, 0.295);
  border-radius: 10px;
  position: sticky;
  top: 10rem;
  flex-shrink: 0;
  height: fit-content;
  padding: 10px;
  margin-left: 1rem;
}
.Rwxaq {
  padding: 10px 0;
  margin:0 .5rem 0.5rem;
}
