.NflOO {
  padding: 1rem 0 0;
  width: 100%;
  direction: rtl;
}
.BfpEw {
  margin: 1rem 0;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
}
.mvHr {
  height: fit-content;
  flex: 0 0 calc(25% - 50px);
  box-shadow: 0 10px 10px 0px #0000002d;
  border-radius: 10px;
  overflow: hidden;
}
.HcrJ {
  display: block;
  width: 100%;
  height: 100%;
}
.HcrJ:hover {
  color: #000;
}
.HcrJ:hover .cYaR img {
  transform: scale(1.1);
}
.cYaR {
  position: relative;
  width: 100%;
  height: 100%;
  background: #eee;
}
.cYaR img {
  transition: all 0.3s ease;
  transform: scale(1.05);
}
.cYaR span {
  font-family: IRANYekan, IRANSans, sans-serif;
  position: absolute;
  font-weight: 600;
  right: 20%;
  top: 85%;
  transform: translate(50%, -50%);
  z-index: 20;
  border-radius: 5px;
  background: #fff;
  padding: 0.3rem;
  border: none;
  font-size: 14px;
}
.cYaR::before,
.cYaR::after {
  content: "";
  position: absolute;
  background: #fff;
  z-index: 10;
}
.cYaR::before {
  top: 85%;
  right: 0;
  width: 100%;
  height: 1px;
}
.cYaR::after {
  top: 0;
  right: 20%;
  width: 1px;
  height: 100%;
}
@media (max-width: 1023.98px) {
  .BfpEw {
    justify-content: center;
  }
  .mvHr {
    flex: 0 0 calc(50% - 25px);
  }
}
