.NflOO {
  padding: 1rem 0 0;
  width: 100%;
  direction: rtl;
}
.BfpEw {
  margin: 1rem 0;
  align-items: center;
  justify-content: space-between;
  gap: 25px;
  flex-wrap: wrap;
}
.mvHr {
  flex: 0 0 calc(22% - 50px);
}
.HcrJ {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: relative;
  gap: 1.5rem;
}
.HcrJ:hover {
  color: #000;
}
.HcrJ:hover .cYaR img {
  transform: scale(1.1);
}
.cYaR {
  width: 100%;
  height: 100%;
  max-height: 240px;
  background: #eee;
  box-shadow: 0 10px 10px 0px #0000002d;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cYaR img {
  transition: all 0.3s ease;
}
.name {
  font-family: IRANYekan, IRANSans, sans-serif;
  font-weight: 600;
  font-size: 16px;
}
@media (max-width: 1023.98px) {
  .BfpEw {
    justify-content: center;
  }
  .mvHr {
    flex: 0 0 calc(25% - 25px);
  }
}
@media (max-width: 768.98px) {
  .mvHr {
    flex: 0 0 calc(33% - 25px);
  }
  .name {
    font-size: 13px;
  }
}
@media (max-width: 599.98px) {
  .NflOO {
    padding: 0;
  }
  .BfpEw {
    flex-wrap: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    padding: 1rem 0.5rem;
    justify-content: flex-start;
  }
  .BfpEw::-webkit-scrollbar {
    height: 4px;
    background: #fff;
  }
  .BfpEw::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
  }
  .mvHr {
    flex: 0 0 100px;
    height: auto;
  }
}
