.Cezp {
  padding: 1rem 0;
  border-bottom: 1px solid #eee;
}
.Kxope {
  display: flex;
  flex-direction: column;
}
.Kxope p {
  font-weight: 600;
  font-family: IRANYekan, sans-serif;
  margin-bottom: 0.5rem;
  color: rgb(80, 80, 80);
  font-size: 18px;
}
.Kxope li {
  font-family: IRANYekan, sans-serif;
  line-height: 2.15;
  font-size: 16px;
  color: #000;
  font-weight: 600;
}
.Kxope li span {
  color: #81858b;
  margin-left: 0.5rem;
}
