.modal_background {
  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;

  background: rgba(black, 0.5);
  backdrop-filter: blur(1px);
  z-index: 1058;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;

  min-width: 300px;
  min-height: 300px;
  padding: 3rem;

  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;

  transform: translate(-50%, -50%);

  overflow-y: auto;
  background: white;

  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  z-index: 1059;
}

.close {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
  border: none;
  background: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999999;
}
.modal::-webkit-scrollbar-thumb {
  border-radius: 10px;
}

@media (max-width: 1023.98px) {
  .modal {
    align-items: flex-start;
  }
  .modal {
    width: 100%;
    height: 100%;
    transform: none;
    left: 0;
    top: 0;
  }
}
