@font-face {
  font-family: "IRANYekan";
  src: url("../public/Fonts/ttf/IRANYekanWebRegular.ttf") format("ttf"),
    url("../public/Fonts/woff/IRANYekanWebRegular.woff") format("woff"),
    url("../public/Fonts/woff2/IRANYekanWebRegular.woff2") format("woff"),
    url("../public/Fonts/eot/IRANYekanWebRegular.eot") format("eot");
}

@font-face {
  font-family: Icon;
  src: url("../public/Fonts/toman.woff2") format("woff2");
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-button {
  display: none;
}
::-webkit-scrollbar-thumb {
  background: rgb(165, 165, 165);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 14px;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  color: rgb(43, 52, 69);
  font-family: IRANYekan, "Open Sans", Roboto, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  line-height: 1.5;
}
main {
  min-height: 55vh;
}
ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
a {
  text-decoration: none;
  color: rgb(43, 52, 69);
}
p {
  margin-bottom: 0;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
svg {
  width: 24px;
  height: 24px;
}

input {
  font-family: "IRANYekan";
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
button {
  cursor: pointer;
}
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.d-flex {
  display: flex !important;
}
.flex-column {
  flex-direction: column !important;
}
.flex-grow-1 {
  flex-grow: 1 !important;
}
.container {
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.ms-1 {
  margin-left: 0.3rem !important;
}
.ms-3 {
  margin-left: 1rem !important;
}
.ml-3 {
  margin-left: 1rem !important;
}
.ml-2 {
  margin-left: 0.75rem !important;
}
.mt-4 {
  margin-top: 1.5rem !important;
}
.my-4 {
  margin: 2rem 0 !important;
}
.my-5 {
  margin: 3rem 0 !important;
}
.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
.p-0 {
  padding: 0 !important;
}
.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}
.pb-3 {
  padding-bottom: 1rem;
}
.ps-0 {
  padding-left: 0 !important;
}
.ps-3 {
  padding-left: 1rem !important;
}
.pe-3 {
  padding-right: 1rem !important;
}
.pe-5 {
  padding-right: 3rem !important;
}
.pe-0 {
  padding-right: 0 !important;
}
.col-2 {
  flex: 0 0 auto !important;
  width: 16.666666% !important;
}
.col-3 {
  flex: 0 0 auto !important;
  width: 25% !important;
}
.col-4 {
  flex: 0 0 auto !important;
  width: 33.3333333% !important;
}
.col-5 {
  flex: 0 0 auto !important;
  width: 41.66666% !important;
}
.col-6 {
  flex: 0 0 auto !important;
  width: 50% !important;
}
.col-7 {
  flex: 0 0 auto !important;
  width: 58.33333% !important;
}
.col-8 {
  flex: 0 0 auto !important;
  width: 66.666666% !important;
}
.col-9 {
  flex: 0 0 auto !important;
  width: 75% !important;
}
.col-10 {
  flex: 0 0 auto !important;
  width: 83.333333% !important;
}
.row > * {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}
.main_slider {
  margin: 1rem 0;
  position: relative;
}
.main_slide {
  overflow: hidden;
  width: 100%;
  border-radius: 20px;
}
.main_slide .swiper-slide div {
  width: 100%;
  height: 430px;
}
.swiper {
  user-select: none;
}
.main_slider .swiper-pagination {
  left: auto !important;
  width: auto !important;
  right: 5rem !important;
  bottom: 1rem !important;
}
.main_slider .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  transition: all 0.3s ease-in;
  background: #ccc;
}
.main_slider .swiper-pagination-bullet-active {
  background: #fff;
  border-radius: 8px;
  width: 22px;
}
.main_slider .swiper-button-next,
.main_slider .swiper-button-prev {
  top: 84% !important;
  background: #eee;
  width: 44px !important;
  border-radius: 50%;
}
.main_slider .swiper-button-prev,
.main_slider .swiper-rtl .swiper-button-next {
  left: auto !important;
  right: 10.5rem !important;
}
.main_slider .swiper-button-next,
.main_slider .swiper-rtl .swiper-button-prev {
  right: 6.5rem !important;
}
.main_slider .swiper-button-next:after,
.main_slider .swiper-button-prev:after {
  font-size: 20px !important;
  color: #000 !important;
}
@media (max-width: 1023.98px) {
  .main_slider .swiper-pagination {
    left: 50% !important;
    transform: translate(-50%, -50%);
  }
  .main_slider .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
  }
  .main_slider .swiper-pagination-bullet-active {
    width: 22px;
  }
  .main_slider .swiper-button-next,
  .main_slider .swiper-button-prev {
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
    width: 36px !important;
    height: 36px;
  }
  .main_slider:hover.main_slider .swiper-button-next,
  .main_slider:hover.main_slider .swiper-button-prev {
    visibility: visible;
    opacity: 1;
  }
}
.dealyOff {
  position: relative;
  margin: 3rem 0;
}
.kfIu {
  display: flex;
  justify-content: space-between;
  border-radius: 20px;
  background: #3499ff;
  padding: .75rem;
  padding-right: 0;
  overflow: hidden;
  height: 320px;
}
.slideList {
  width: 100%;
}
.dealyOff .swiper {
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
}
.dealyOff .swiper-wrapper .swiper-slide:first-child {
  max-width: 180px !important;
}
.Jqz-03x {
  text-align: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  min-width: 182px;
  border-radius: 10px;
}

.dealyOff .swiper-button-next.swiper-button-disabled,
.dealyOff .swiper-button-prev.swiper-button-disabled {
  display: none;
}
.dealyOff .swiper-button-prev,
.swiper-button-next {
  right: 10px;
  left: auto;
}
.dealyOff .swiper-button-next,
.swiper-button-prev {
  left: 10px;
  right: auto;
}
.dealyOff .swiper-button-next,
.dealyOff .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 30px;
  height: 30px;
  z-index: 20;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #000;
  background: #fff;
  border: 1px solid rgb(168, 168, 168);
  border-radius: 50%;
}
.dealyOff .swiper-button-next:after,
.dealyOff .swiper-button-prev:after {
  font-size: 15px;
}

.sdlks {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vsJsm {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #000;
}
.vsJsm:hover {
  color: #67abffc5;
  fill: #67abffc5;
}
.vsJsm svg {
  width: 32px;
  height: 32px;
  transition: all 0.2s ease;
}
.vsJsm p {
  margin-top: 1rem;
  transition: all 0.2s ease;
}

.wsapJ {
  position: relative;
  padding: 1rem;
  width: 100%;
  height: 100%;
}
.wsapJ span {
  position: absolute;
  bottom: 0;
  right: 0;
  background: #3499ff;
  color: #fff;
  font-size: 14px;
  padding: 0.1rem 0.2rem;
  border-radius: 3px 0 0 12px;
  cursor: context-menu;
}

.oHbsI {
  text-align: left;
  width: 100%;
  padding: 0.2rem 0.5rem 0.5rem;
  flex-grow: 1;
}
.oHbsI p {
  direction: ltr;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 500;
  color: #000;
}
.oHbsI p::before {
  content: "\F142\00FE0E";
  font-family: "Icon";
  font-size: 20px;
  margin-right: 5px;
}
.oHbsI span {
  font-size: 14px;
  margin-left: 2rem;
  text-decoration: line-through;
  color: rgb(185, 185, 185);
}
.Lfjhe {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.Lfjhe a {
  color: #fff;
}
.amazingImg {
  margin: 1rem 0;
  width: 100px;
}
.box_offer svg {
  width: 64px;
  height: 64px;
  fill: #fff;
  margin-bottom: 1rem;
}

@media (max-width: 1023.98px) {
  .dealyOff .container {
    padding: 0;
  }
  .kfIu {
    border-radius: 0;
    padding-left: 0;
  }
  .dealyOff .swiper .swiper-button-next,
  .dealyOff .swiper .swiper-button-prev {
    display: none;
  }
  .Jqz-03x {
    border-radius: 0;
  }
}

/* detailSlider */
.DetailSlider .swiper-slide-thumb-active {
  opacity: 1 !important;
}
.DetailSlider .swiper-button-next.swiper-button-disabled,
.DetailSlider .swiper-button-prev.swiper-button-disabled {
  display: none;
}

.DetailSlider .swiper-button-next {
  left: 0 !important;
}
.DetailSlider .swiper-button-prev {
  right: 0 !important;
}
.DetailSlider .swiper-button-next,
.DetailSlider .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 40px;
  height: 40px;
  z-index: 20;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}
.DetailSlider .swiper-button-next:after,
.DetailSlider .swiper-button-prev:after {
  font-size: 28px;
}

.btn {
  display: inline-block;
  font-weight: normal;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  border: 1px solid transparent;
  margin: 0 0.5rem;
  padding: 0.5rem 0.75rem;
  font-size: 1rem;
  line-height: 1.25;
  border-radius: 0.25rem;
  transition: all 0.15s ease-in-out;
}
.btn-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.btn-success {
  color: #fff;
  background-color: #28a745;
  border-color: #28a745;
}
.btn-info {
  color: #000;
  background-color: #0dcaf0;
  border-color: #0dcaf0;
}
.btn-warning {
  color: #000;
  background-color: #ffc107;
  border-color: #ffc107;
}
.btn-primary {
  color: #fff;
  background-color: #3499ff;
  border-color: #3499ff;
}
.btn-purple {
  color: #fff;
  background-color: #7066e0;
  border-color: #7066e0;
}
